/* Menu Page ------------------*/
.Hotel-container .imgSize{
  width: 300px;
  height: 300px;
  border-radius: 10px;
}
.Hotel-container h5{ 
  color: #fff;
}
/* Menu Page ------------------*/


.OnlineOrder .OnlineOrder-Item li p,.OnlineOrder .OnlineOrder-food-filter ul li p{
    color: #fff;
}
.OnlineOrder-Item button {
    background: no-repeat;
    border: none;
    color: #ddd;
    font-size: 20px;
    text-transform: capitalize;
}

.OnlineOrder-Item button.active{
    color:#f00
}

.OnlineOrder-Item-list li{
    /* border: 1px solid #ddd; */
    background: #000;
    box-shadow: 2px 0px 50px #000;
    margin-bottom: 30px;
    color: #fff;
    padding: 15px;
    transition: .4s ease-in-out;
    font-family: 'Nunito Sans', sans-serif;
}

.OnlineOrder-Item-list li:hover{
  /* background-color: #c19102; */
  background-color: #2a2929;
  /* color: #000; */
}

  /* search option */
  
  form {
    margin: 20px
}

.HotelFoodItemInput input {
  border: 1px solid #ddd; 
  background-color: transparent;
  width: 96%;
  border-radius: 03px;
  padding: 10px 30px 10px 35px;
  color: #fff;
}

.HotelFoodItemInput input:focus-visible{
  outline: none;
}

.HotelFoodItemInput i {
  position: relative;
  right: -25px;
  z-index: 4
}

.searchFoodItemLIst li{ display:flex; justify-content:space-between }

  /* form {
      margin: 20px
  }
  
  .searchFood input {
    padding-right: 15px;
    width: 0;
    background: transparent;
    border: none;
    border-bottom: 0px solid #ddd;
    transition: .4s ease-in-out;
    color: #fff;
    cursor: pointer;
  }
  
  .searchFood input:focus-visible{
    outline: none;
  }
  .searchFood input.show {
    width: 90%;
    border-bottom: 1px solid #ddd;
    padding-left: 5%;
  }
  i {
    position: relative;
    right: -25px;
    z-index: 2
  } */