.OnlineOrder .OnlineOrder-Item li p,.OnlineOrder .OnlineOrder-food-filter ul li p{
    color: #fff;
}
.OnlineOrder-Item button {
    background: no-repeat;
    border: none;
    color: #ddd;
    font-size: 20px;
    text-transform: capitalize;
}

.OnlineOrder-Item button.active{
    color:#f00
}