#root{
    background-color: #252525;
    /* background: linear-gradient(10deg, rgb(14, 14, 14) 20%, #e9db13 20%,rgb(14, 14, 14) 80%); */
    /* background: url('https://i.pinimg.com/564x/06/92/04/069204f4fc6c33a8138735385a117791.jpg') no-repeat center; */
    /* background: url('https://i.pinimg.com/736x/16/57/a4/1657a42aeca642e2da6722460a76d0a9.jpg') no-repeat center; */
    background-size: cover;
    color: #fff;
    
    
}

.section{
    padding: 30px 0px;
}

.section h3{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3rem;
    margin-bottom: 50px;
}

.imgSize{
    width: 100%;
}